/* global */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(154, 211, 205);
}

a{
    color:seagreen;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder; 
}

.header {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: rgb(9, 83, 115);
    margin: 0px;
    border-radius: 15px;
}

.labhub-button{
    background-color: transparent; 
    color: inherit;
    border: none;
    font-size: 35px;
    color: rgb(30, 190, 171);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    
}

.labhub-button:hover{
    opacity: 0.7;
}

.labhublogo {
    width: 800px;
    color: rgb(30, 190, 171);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin-left:5px;
}

.searchbox {
    width:400px;
    display: flex;
    align-items:end;
    border-radius: 20px;
    background: rgb(161, 245, 245);
    transition: .3s;
    margin-top: 13px;
    margin-bottom: 10px;
    padding: 14px;
    margin-right: 6px;
}

.searchbox:hover {
    opacity: 0.7;
}

.search-input {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(6, 44, 55);
    cursor: pointer;
    align-self: center;
    width:360px;
}

.signin{
    width:110px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.signinbutton{
    border-radius: 20px;
    border: none;
    background:rgb(53, 117, 142);
    padding-top:11px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 16px;
    color:rgb(165, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.signinbutton:hover{
    cursor: pointer;
    opacity: .7;
}

/*###########################################################*/
/* home.html */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color:rgb(222, 253, 242);
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-description *{
    margin-block: 0;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-stats{
    font-size: 12px;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(222, 253, 242);;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon{
    font-size: 30px;
}

.subforum-divider{
    display: none;
    border: 0;
    height: 1px;
background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
}


/* NavBar */

.header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;    
}

.navigation{
    background-color: rgba(255, 255, 255, 0.597);
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: cadetblue;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.close-icon i{
    font-size: 45px;
    float: left;
    color: cadetblue;
    cursor: pointer;

}

.hide{
    display: none;
}

.bar-icon{
    font-size: 45px;
    display: inline-block;
    margin-right: 10px;
    color: cadetblue;
    cursor: pointer;
}

/* search box */
.search-box{
    border: solid 1px cadetblue;
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px cadetblue;
    border-radius: 15px;
}

.search-box select{
    padding: 10px;
    color: cadetblue;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    color: cadetblue;
    box-shadow: 1px 2px 3px cadetblue;
}

.forum-info{
    padding: 20px;
    background-color: rgb(222, 253, 242);
    border-radius: 5px;
}

.chart{
    font-size: 20px;
    font-weight: bold;
}

/*footer*/

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(222, 253, 242);
    display: block;
    text-align: center;
    border-radius: 5px;
}










/*###########################################################*/
/* post.html*/

.table-head{
    display: flex;

}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: rgb(222, 253, 242);
    font-weight: bold;
    border-radius: 5px;
}

.table-head .staus{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* table body*/
.table-row{
    display: flex;
}

.table-row .status,.table-row .subjects,.table-row .replies,.table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: rgb(222, 253, 242);
    border-radius: 5px;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 60%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/*pagination, page numbering at botton*/
.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: rgba(16, 53, 34, 0.753);
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px rgb(5, 4, 4);
    border-radius: 5px;
}

.pagination a:hover{
    opacity: 0.5;
}

/* Navigation*/

.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.nagvigate a{
    color: white;
}

.navigate a:hover{
    color: red;
    font-weight: bolder;
}

/* key at bottom*/

.note{
    background-color: rgb(222, 253, 242);
    padding: 20px;
    display: block;
    border-radius: 5px;
}

.note span{
    font-size: 15px;
    margin-block: 5px;
}

/*#########################################################*/
/* details.html*/

.head{
    display: flex;
    background-color: rgb(222, 253, 242);
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: rgb(222, 253, 242);
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;

}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border: none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px #a1a1a1;
    cursor: pointer;
    float: right;
}

/*comment*/

.comment-area{
    margin-top: 50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px black;
}

.comments-container{
    margin-top: 50px;
}