body {
    background-color: rgb(154, 211, 205);
}

.box {
    border-radius: 17px;
    border: none;
    height: 50px;
    width: 100px;
    background-color: rgb(220, 218, 218);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    color: rgb(9, 83, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.box:hover{
    opacity: .7;
    cursor: pointer;
}

.toprow {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.backdropheader {
    text-align: center;
    font-size: 20px;
    color: rgb(196, 246, 229);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 14px;
    margin-bottom: 5px;
}

.backdrop{
    background-color: rgb(30, 190, 171);
    width: 240px;
    margin-right:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    height: 480px;
    padding-bottom: 4px;
}

.sidebar {
    display:flex;
flex-direction: row;
justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    width: 210px;
    height: 450px;
    background-color: rgb(0, 120, 120);
    margin-right: 54px;
    margin-left: 3px;
    border-radius: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: rgb(9, 83, 115);
    margin: 0px;
    border-radius: 15px;
}

.labhublogo {
    width: 800px;
    color: rgb(30, 190, 171);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin-left:5px;

}

.searchbox {
    width:400px;
    display: flex;
    align-items:end;
    border-radius: 20px;
    background: rgb(161, 245, 245);
    transition: .3s;
    margin-top: 13px;
    margin-bottom: 10px;
    padding: 14px;
    margin-right: 6px;
}

.searchbox:hover {
    opacity: 0.7;
}

.search-input {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(6, 44, 55);
    cursor: pointer;
    align-self: center;
    width:360px;
}

.signin{
    width:110px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.signinbutton{
    border-radius: 20px;
    border: none;
    background:rgb(53, 117, 142);
    padding-top:11px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 16px;
    color:rgb(165, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.signinbutton:hover{
    cursor: pointer;
    opacity: .7;
}


.description {
    font-size: 15px;
    color: white;
    padding-left:16px;
    padding-right:16px;
    padding-bottom:37px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-align: left;

}

.scrollbox {
width: 700px;
background: rgb(196, 246, 229);
margin-right: 54px;
padding-top: 15px;
border-radius: 15px;
}

.scrolldiv {
width: 700px;
height: 417px;
margin-top: 7px;
background: rgb(196, 246, 229);
overflow: hidden;
overflow-y: scroll;
scrollbar-color: blue;
}

.scrollobject{
font-size: 15px;
font-family:Arial, Helvetica, sans-serif;
color: black;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.scrollheader {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(31, 101, 120);
    text-align: center;
    margin-bottom: 10px;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: space-evenly;
    align-items: center;
}

.thumbnailbutton {
    color: rgb(18, 103, 105);
    background-color: rgb(240, 245, 245);
    width: 310px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    border: 0px;
    padding: none;
    border-radius: 12px;
}

.thumbnailbutton:hover {
    border: solid 2px mediumaquamarine;
    cursor:pointer;
}

.image1 {
    width: 275px;
    height: 170px;
    border-radius: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

.logo{
    width:70px;
    height:70px;
}